footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgb(231, 233, 236);
  padding: 15px 0px 15px 0px;
}
.footer-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 75vw;
  height: 50px;
  border-radius: 25px;
}

.text-description {
  color: rgb(195, 195, 195);
  margin-left: 8px;
}

.plus-icon img {
  margin-left: 10px;
}

.emoticon-icon {
  position: relative;
  margin-right: 10px;
}
.new-circle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgb(252, 127, 57);
  border-radius: 50%;
  bottom: 24px;
  left: 18px;
}

.send-icon img {
  margin-right: 20px;
}
